<nav class="nav">
  <div class="nav-container">
    <a href="{{ site.baseurl }}/">
      <div style="display: flex; flex-direction: row; align-items: center;">
        <img src="/assets/favicon-28x28.png" style="margin: 0; margin-right: 10px;">
        <h2 class="nav-title">{{ site.title }}</h2>
      </div>
    </a>
    <ul>
      <li><a href="{{ site.baseurl }}/">Stories</a></li>
      <li><a href="{{ '/contribute' | prepend: site.baseurl }}">Contribute</a></li>
      <li><a href="{{ '/help' | prepend: site.baseurl }}">Help</a></li>
    </ul>
  </div>
</nav>
